
  
.stack-item {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    border: 1px solid #2980b9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.circleContainer {
    margin-block: 40px;
}

.circle {
    display: inline-block;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    user-select: none;
    margin-inline: 20px !important
}

.successText {
    color: #2ecc71;
}

.failText {
    color: #e74c3c;
}

/* .stack-item.hidden {
    transform: translateY(100%);
} */